<!-- Show errors on invalid form data -->
<% if @scene.errors.any? %>
  <div class="errors">
    <p><b>Error:</b> Your Scene could not be saved:</p>
    <ul>
      <% @scene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>