<h1 class="center">Guide / FAQ</h1>

<hr>

<h3>What is "Text Adventure Builder"?</h3>
<p>Text adventure builder allows you to create your own text adventure. If you remember the old 'pick a path' (like the <a href="http://en.wikipedia.org/wiki/List_of_Fighting_Fantasy_gamebooks" target="_blank">Steve Jackson / Ian Livingstone books</a>) this will be instantly familiar. Except you can create your own adventure and share it with your friends and add images to enhance the story telling!</p>

<h3>Getting Started</h3>
<p>
  If you just want to play an existing adventure you can start playing right away! Just click the 'Adventures' link, and then click on the adventure you want to play. Click on the "Click Here to Play!" link to start the game.
  <br><br>
  If you want to build your own adventure, before you start, you'll need to register an account so that your adventure will be saved and editable at a later date. Click the "Sign Up" link to create an account. Once you've created an account, you can then start creating adventures! Read the Building an Adventure section below.
</p>

<h3>Building an Adventure</h3>
<p>
  An adventure is comprised of three components.
  <br><br>
  <b>The adventure</b> - This represents a story. An adventure will have many scenes (pieces of text) that describe to the player the situation. An adventure needs a name, a description and optionally can have an image. This is what players will read / see when deciding on an adventure to play.
  <br><br>
  <b>A scene</b> - This represents a piece of the narrative. The player will read your description of the scene and then decide how to proceed (choose a path) based on the text that they have read.
  <br><br>
  <b>A path</b> - This is effective a link between one scene and another. This is how players can progress from one scene to the next. For most scenes you will want to have many paths available to provide the player with different outcomes to their story. Paths do not have to be linear, a path can take you to a scene you may have already visited. A path has a description that will describe to the player how they progress from the current scene to the next i.e. "Walk through the door", "Drive down the road", "Jump out the window" etc...
</p>