<h1 class="site-heading">Text Adventure Builder</h1>

<hr>

<h2>What is "Text Adventure Builder"?</h2>
<p>
  "Text Adventure Builder" allows you to create your own text adventure stories! 
</p>
<p>
  If you remember the old 'pick a path' books (in particular the <a href="http://en.wikipedia.org/wiki/List_of_Fighting_Fantasy_gamebooks" target="_blank">The Fighting Fantasy Series</a> by Steve Jackson / Ian Livingstone books) this will be instantly familiar. 
</p>
<p>
  But this is even better! By creating these stories via the web the story can be enhanced with the ability to either hotlink or upload images to display for each scene in your adventure! Furthermore, adventures can be shared with your friends by simply emailing them a link!
</p>

<h2>Getting Started?</h2>
<p>
  No sign up is required to play an adventure, simply click the 'All Adventures' link at the top of the page, then click on an adventure you want to play!
</p>
<p>
  If you want to build your own adventure, before you start, you'll need to register an account so that your adventure will be saved and editable at a later date. Click the "Sign Up" link to create an account. Once you've created an account, you can then start creating adventures! Read the Building an Adventure section below.
</p>

<h2>The Future?</h2>
<p>
  There are so many possible enhancements that I'm considering adding in future. To name a few...
</p>

<h3>! Major Enhancements !</h3>
<ul>
  <li>
    <b>Introduce Game States</b> - This would allow features like collecting items (and blocking certain tracks if items have not been acquired), proper saved game functionality, changing how scenes behave on first visit vs subsequent visits, removing Tracks after a scene has been visited (preventing players from accidentally going to the same place twice) etc...
  </li>
  <li>
    <b>Track how popular Adventures</b> - This could allow ranking and make it easier for users to find good adventures.
  </li>  
  <li>
    <b>Map an Adventures</b> - This would allow the Adventure Creatior to visualise the structure of their adventure to help better manage larger adventures with many scenes and many tracks!
  </li>  
</ul>

<h3>! Minor Enhancements !</h3>
<ul>
  <li><b>Search Functionality for Adventures</b></li> 
  <li><b>Ability to Upload Image Files for Adventures</b> - Image Upload is currently only available for scenes</li>
  <li><b>The ability to display or hide Scene Titles on an adventure</b></li>  
  <li><b>Add a category to adventures</b> - This would make it easier for users to find an adventure they are interested in (e.g. fantasy, sci-fi, erotic fiction... wait what!?)</li>  
  <li><b>Provide the ability to edit a Track name rather than force delete and re-adding</b></li>
  <li><b>Provide a Comments Form</b> - So you can contact me!</li>
  <li><b>Auto Resize Images when uploaded</b> - Images are hosted on Amazon S3 and it's slow as they're not resized.</li>
  <li><b>Add a Default Image for Adventures when one not provide</b></li>
</ul>

<h2>Acknowledgements</h2>
<p><b>Joel Turnbull</b> - For helping me with countless problems faced throughout my project and keeping us entertained with his sense of humour.</p>
<p><b>Mathilda Thompson</b> - For all her assistance in helping me get Carrierwave up and running despite my own stupidity.</p>
<p><b>Erik Froese</b> - For creating me a hilarious adventure to use for my project demo! Check out "Rhialto's amazing journey"!</p>

<hr>
<h4 class="center">Site Created in Ruby on Rails by Simon Taylor 2014</h4>
<p class="center">Open source is awesome, and you can get the full source code for this site from <b><a href="https://github.com/nizmox/text_adv_app">github</a></b></p>