<h1 class="center">All Adventures...</h1>

<p class="center">This is a list of all adventures that have been published by their creators (newest adventures are shown first!)</p>

<hr>

<%= render 'list' %>