#container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  padding: 10px;
  background-color: black;
   li {
    display: inline-block;
    a {
      color: white;
      padding-right: 10px;
    }//a
  }//li
}//nav

img.scene {
  max-width: 500px;
}